* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #141414;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

.verde {
  color: green;
}s

.amarillo {
  color: yellow;
}

li {
  list-style: none;
}

input {
  color: whitesmoke;
}

button {
  background-color: rgb(86, 116, 236);
  border: none;
  margin-left: 20px;
  padding: 10px;
}